.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
