@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --borderRadius: 5px;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.controls {
  padding: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  min-width: 350px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2rem;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(2px 4px 20px #cccccc);
}

.chargeLevelControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.dynamicNumbers,
.resultNumbers {
  background-color: #eaeaea;
  padding: 1rem;
  width: 100%;
  margin-top: 0.25rem;
  border-radius: var(--borderRadius);
}

.inputStuff,
.dataStuff {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0;
  justify-content: space-between;
}

input {
  text-align: left;
  font-size: 1rem;
  color: black;
  border: 1px solid #c1c1c1;
  border-radius: var(--borderRadius);
  padding: 0.25rem;
  width: 100px;
}

select {
  font-size: 1rem;
  border: 1px solid #c1c1c1;
  border-radius: var(--borderRadius);
  padding: 0.25rem;
  width: 100px;
}

.bold {
  font-weight: 500;
  font-size: 1.22rem;
}

.chartHolder {
  width: 100%;
  max-width: 500px;
  height: 250px;
  margin-top: 0.25rem;
  border-radius: var(--borderRadius);
  overflow: hidden;
}

table {
  width: 100%;
}
th {
  border-bottom: 1px solid black;
  text-align: right;
}
td:first-child {
  width: 300px;
  text-align: left;
}
td {
  text-align: right;
}

tr:last-child {
  font-size: 1.25rem;
  font-weight: 600;
}
