@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Kanit", sans-serif;
}
.App {
  text-align: center;
}

.controls {
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
}
