@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.controls {
  padding: 1rem;
  padding: 1rem;
}

.chargeLevelControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.dynamicNumbers,
.resultNumbers {
  background-color: #eaeaea;
  padding: 1rem;
  width: 90%;
  max-width: 500px;
}

.inputStuff,
.dataStuff {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0;
  justify-content: space-between;
}

input {
  text-align: left;
  font-size: 1rem;
  color: black;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 0.25rem;
  width: 100px;
}

select {
  font-size: 1rem;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 0.25rem;
  width: 100px;
}
