.selector {
  padding: 0.25rem;
}

.selected {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #cacaca;
}

.deselected {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.deselected:hover {
  background-color: #eaeaea;
  border-bottom: 1px solid black;
}
