@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
}
.container {
  width: 100%;
  max-width: 800px;
  height: fit-content;
}

section {
  margin-bottom: 2rem;
}

.mainTitle {
  font-family: "Roboto Slab", serif;
  font-size: 6rem;
  font-weight: 900;
  line-height: 5rem;
}

.buttonHolder {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.note {
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.note::before {
  content: "* ";
}

.animationHolder {
  margin-bottom: 2rem;
}
